<nav>
  <ul>
    <li>
      <a>

        <button class="b1">
          <img style="height: 30px;width: 30px;" src="/assets/flipkart.png" alt="logo">
          <h1>Flipkart</h1>
        </button>
      </a>
    </li>
    <li>
      <a routerLink="todolist">

        <button class="b2"><img style="height: 30px;width: 30px;" src="/assets/flipkart.png" alt="logo">
          <h1>Grocery</h1></button>
      </a>
    </li>
  </ul>
</nav>

<div class="para" style="width: 100%; height: 50vh; display: flex; justify-content: center; align-items: center; font-size: xx-large; color: green;">
  <h1>Welcome to Flipkart grocery items </h1>
</div>